body {
    font-family: Arial, sans-serif;
    background-color: grey; /* Set your desired background color */
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF; /* Set your desired button color */
    color: burlywood;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Change color on hover if desired */
}

p#error {
    margin-top: 10px;
    font-size: 14px;
}
